---
layout: default
---

<!-- overview section -->
<section id="overview" class="section overview">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">Hardware</h2>
        <p class="section-intro">Conheça os detalhes de <span>hardware</span> da Franzininho</p>
      </div>
      <div class="col-md-12">
        <p>O circuito da Franzininho DIY foi baseado nas placas Arduino Gemma e Disgispark, que usam o ATtiny85 como microcontrolador. A Franzininho DIY possui um hardware bem enxuto e sua a placa foi desenvolvida em face simples e com todos os componentes convencionais para promover a cultura DIY (Faça você mesmo). O projeto está disponível no github e você pode fazer sua propria placa de circuito impresso Franzininho ou usar o projeto como base para seus projeto.</p>
      </div>
      <div class="col-md-12 text-center overview-video">
        <img src="assets/images/pinagem_franzininho_verde.jpg" style="width:80%">
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">Software</h2>
        <p class="section-intro">Como programar seu <span>Franzininho</span></p>
      </div>
      <div class="col-md-12">
        <p>A Franzininho pode ser programada diretamente na IDE Arduino, ou usando ferramentas de programação em blocos</p>
      </div>
      <div class="col-md-12 text-center overview-video">
        <img src="assets/images/pinagem_franzininho_verde.jpg" style="width:80%">
      </div>
    </div>




<!--     
    <div class="row">
      <div class="col-md-4 col-sm-12 "> <span class="icon icon-browser"></span>
        <div class="overview-content">
          <h4>Flexible Layouts</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 "> <span class="icon icon-trophy"></span>
        <div class="overview-content">
          <h4>Clean Design</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 "> <span class="icon icon-lifesaver"></span>
        <div class="overview-content">
          <h4>Amazing Support</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
        </div>
      </div>
    </div> 
-->
  </div>
</section>
<!-- overview section --> 
<!-- feature section 1 -->
<section id="features" class="section features1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">Conheça as <span>Principais Características</span> do projeto</h2>
        <p class="section-intro">Baseado nas placas Arduino Gemma, Disgispark, que usam o ATtiny85 como microcontrolador e são programadas na IDE Arduino.</p>
      </div>
    </div>
    <div class="row features1-content-space">
      <div class="col-md-4 col-sm-12">
        <div class="features1-content left"> <span class="icon icon-upload"></span>
          <h4>Light Weight</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
        </div>
        <div class="features1-content left"> <span class="icon icon-tools"></span>
          <h4>Creatively Design</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 middle"> <img class="img-responsive" src="assets/images/feature-mobile.png"> </div>
      <div class="col-md-4 col-sm-12">
        <div class="features1-content right"> <span class="icon icon-speedometer"></span>
          <h4>Boost performance</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
        </div>
        <div class="features1-content right"> <span class="icon icon-camera"></span>
          <h4>Flexible Layouts</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature section 1 --> 

<!-- feature section 2 -->
<section id="features" class="section features2">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="float:right;">
        <div class="features2-content">
          <h2 class="section-title">Completely flexible, create the landing page <span>you want</span></h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          <ul>
            <li><i class="fa fa-check"></i> Sed ut perspiciatis unde omnis </li>
            <li><i class="fa fa-check"></i> iste natus error sit voluptatem accusantium </li>
            <li><i class="fa fa-check"></i> doloremque laudantium, totam rem aperiam.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6"> <img class="img-responsive" src="assets/images/feature-screen2.png"> </div>
    </div>
  </div>
</section>
<!-- feature section 2 --> 

<!-- feature section 3 -->
<section id="features" class="section features3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="features2-content">
          <h2 class="section-title">Super flexible and very easy to modify your <span>app screen</span></h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
      </div>
      <div class="col-md-6"> <img class="img-responsive" src="assets/images/feature-screen3.png"> </div>
    </div>
  </div>
</section>
<!-- feature section 3 --> 

<!-- screen shots slider section-->
<section id="screens" class="section screens">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">A landing page for the <span>next generation</span></h2>
        <p class="section-intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. </p>
      </div>
    </div>
  </div>
  <!-- owl-carousel starts -->
  <div id="owl-demo" class="owl-carousel">
    <div class="item"><img src="assets/images/app-screen/screen1.jpg"></div>
    <div class="item"><img src="assets/images/app-screen/screen2.jpg"></div>
    <div class="item"><img src="assets/images/app-screen/screen3.jpg"></div>
    <div class="item"><img src="assets/images/app-screen/screen4.jpg"></div>
    <div class="item"><img src="assets/images/app-screen/screen5.jpg"></div>
    <div class="item"><img src="assets/images/app-screen/screen6.jpg"></div>
    <div class="item"><img src="assets/images/app-screen/screen7.jpg"></div>
    <div class="item"><img src="assets/images/app-screen/screen2.jpg"></div>
    <div class="item"><img src="assets/images/app-screen/screen5.jpg"></div>
    <div class="item"><img src="assets/images/app-screen/screen1.jpg"></div>
    <div class="item"><img src="assets/images/app-screen/screen6.jpg"></div>
  </div>
  <!-- owl-carousel starts --> 
</section>
<!-- screen shots slider section --> 

<!--subscribe section -->
<section id="download" class="section subscribe">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Get Your Free Download Of Rooky App <span>today!</span></h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. </p>
        <!-- <div  class="banner-btn"> <a href="#"><img src="assets/images/apple-store-btn.png"></a> <a href="#" class="banner-btn"><img src="assets/images/google-store-btn.png"></a></div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center subscribe-form">
        <h3 class="subscribe-title">Stay informed with our newsletter</h3>
        <!-- subscribe form -->
        <form method="post" action="php/subscribe.php" name="subscribeform" id="subscribeform">
          <input type="text" name="email" placeholder="Enter your email address to get notified" id="subemail" />
          <input type="submit" name="send" value="Notify me" id="subsubmit" class="btn2" />
        </form>
        <!-- subscribe message -->
        <div id="mesaj"></div>
        <!-- subscribe message --> 
      </div>
      <!-- subscribe form --> 
    </div>
  </div>
</section>
<!--subscribe section --> 

<!--contact section -->

<section id="contact" class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 ">
        <h2 class="section-title">Get In Touch <span>Say Hello!</span></h2>
        <p class="section-intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. </p>
      </div>
    </div>
    
    <!--contact form start-->
    <div class="col-md-6 col-md-offset-3 conForm">
      <div id="message"></div>
      <form method="post" action="php/contact.php" name="cform" id="cform">
        <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
        <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
        <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Project Details..."></textarea>
        <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
        <div id="simple-msg"></div>
      </form>
    </div>
    <!--contact form end--> 
  </div>
</section>

<!--contact section --> 

<!-- <div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</div>
 -->